body {
    cursor: url('/assets/icons8-mouse-face-100.png') 5 5, auto;	
    background: rgba(0, 0, 0, 0.5);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: auto; 
    min-height: auto;
}

@media screen and (max-width: 1280px) {
    #myVideo {
        position: fixed;
        left: 0;
        bottom: 0;
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:1280px){
    .content {
        font-size: large;
    }
}
.content {
    position: fixed;
    color: #ffffff;
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

footer {
    text-shadow: 2px 2px 4px #000000;
}