body
{
    font-family: calibri;
} 

.center
{
    text-align: center;
}

footer
{
    position:absolute;
    bottom: 0;
    width:99%;
    text-align: center;
    font-size: 1em;
    color: #999;
}

.row
{
    display: flex;
}
.col
{
    flex: 1; 
    padding: 50px;
    border: none;
}