
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: auto; 
    min-height: auto;
    filter:blur(5px);
}

.content {
    position: relative;
    color: #ffffff;
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}
@media screen and (max-width: 1280px) {
    #myVideo {
        position: fixed;
        left: 0;
        bottom: 0;
        width: auto;
        height: 100%;
    }
    .content {
        font-size: large;
    }
}
